################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Architecture.Api
/Architecture.DataAccess
/Architecture.DataAccess/bin/Debug
/Architecture.DataAccess/obj
/Architecture.Models
/Architecture.Models/bin/Debug/net8.0
/Architecture.Models/bin/Debug/net8.0/Architecture.Models.deps.json
/Architecture.Models/bin/Debug/net8.0/Architecture.Models.dll
/Architecture.Models/bin/Debug/net8.0/Architecture.Models.pdb
/Architecture.Models/bin/Debug/net8.0/LockTheVote.Models.deps.json
/Architecture.Models/bin/Debug/net8.0/LockTheVote.Models.dll
/Architecture.Models/bin/Debug/net8.0/LockTheVote.Models.pdb
/Architecture.Models/obj
/Architecture.Models/obj/Architecture.Models.csproj.nuget.dgspec.json
/Architecture.Models/obj/Architecture.Models.csproj.nuget.g.props
/Architecture.Models/obj/Architecture.Models.csproj.nuget.g.targets
/Architecture.Models/obj/Debug/net8.0
/Architecture.Models/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Architecture.Models/obj/Debug/net8.0/Architecture.Models.AssemblyInfo.cs
/Architecture.Models/obj/Debug/net8.0/Architecture.Models.AssemblyInfoInputs.cache
/Architecture.Models/obj/Debug/net8.0/Architecture.Models.assets.cache
/Architecture.Models/obj/Debug/net8.0/Architecture.Models.csproj.CoreCompileInputs.cache
/Architecture.Models/obj/Debug/net8.0/Architecture.Models.csproj.FileListAbsolute.txt
/Architecture.Models/obj/Debug/net8.0/Architecture.Models.dll
/Architecture.Models/obj/Debug/net8.0/Architecture.Models.GeneratedMSBuildEditorConfig.editorconfig
/Architecture.Models/obj/Debug/net8.0/Architecture.Models.GlobalUsings.g.cs
/Architecture.Models/obj/Debug/net8.0/Architecture.Models.pdb
/Architecture.Models/obj/Debug/net8.0/Architecture.Models.sourcelink.json
/Architecture.Models/obj/Debug/net8.0/LockTheVote.Models.AssemblyInfo.cs
/Architecture.Models/obj/Debug/net8.0/LockTheVote.Models.AssemblyInfoInputs.cache
/Architecture.Models/obj/Debug/net8.0/LockTheVote.Models.assets.cache
/Architecture.Models/obj/Debug/net8.0/LockTheVote.Models.csproj.CoreCompileInputs.cache
/Architecture.Models/obj/Debug/net8.0/LockTheVote.Models.csproj.FileListAbsolute.txt
/Architecture.Models/obj/Debug/net8.0/LockTheVote.Models.dll
/Architecture.Models/obj/Debug/net8.0/LockTheVote.Models.GeneratedMSBuildEditorConfig.editorconfig
/Architecture.Models/obj/Debug/net8.0/LockTheVote.Models.GlobalUsings.g.cs
/Architecture.Models/obj/Debug/net8.0/LockTheVote.Models.pdb
/Architecture.Models/obj/Debug/net8.0/ref
/Architecture.Models/obj/Debug/net8.0/ref/Architecture.Models.dll
/Architecture.Models/obj/Debug/net8.0/ref/LockTheVote.Models.dll
/Architecture.Models/obj/Debug/net8.0/refint
/Architecture.Models/obj/Debug/net8.0/refint/Architecture.Models.dll
/Architecture.Models/obj/Debug/net8.0/refint/LockTheVote.Models.dll
/Architecture.Models/obj/LockTheVote.Models.csproj.nuget.dgspec.json
/Architecture.Models/obj/LockTheVote.Models.csproj.nuget.g.props
/Architecture.Models/obj/LockTheVote.Models.csproj.nuget.g.targets
/Architecture.Models/obj/project.assets.json
/Architecture.Models/obj/project.nuget.cache
/Architecture.Models/obj/Release/net8.0
/Architecture.Models/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Architecture.Models/obj/Release/net8.0/Architecture.Models.AssemblyInfo.cs
/Architecture.Models/obj/Release/net8.0/Architecture.Models.AssemblyInfoInputs.cache
/Architecture.Models/obj/Release/net8.0/Architecture.Models.assets.cache
/Architecture.Models/obj/Release/net8.0/Architecture.Models.GeneratedMSBuildEditorConfig.editorconfig
/Architecture.Models/obj/Release/net8.0/Architecture.Models.GlobalUsings.g.cs
/Architecture.Services
/Architecture.Services/bin/Debug/net8.0
/Architecture.Services/bin/Debug/net8.0/Architecture.Services.deps.json
/Architecture.Services/bin/Debug/net8.0/Architecture.Services.dll
/Architecture.Services/bin/Debug/net8.0/Architecture.Services.pdb
/Architecture.Services/bin/Debug/net8.0/LockTheVote.Services.deps.json
/Architecture.Services/bin/Debug/net8.0/LockTheVote.Services.dll
/Architecture.Services/bin/Debug/net8.0/LockTheVote.Services.pdb
/Architecture.Services/obj
/Architecture.Services/obj/Architecture.Services.csproj.nuget.dgspec.json
/Architecture.Services/obj/Architecture.Services.csproj.nuget.g.props
/Architecture.Services/obj/Architecture.Services.csproj.nuget.g.targets
/Architecture.Services/obj/Debug/net8.0
/Architecture.Services/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Architecture.Services/obj/Debug/net8.0/Architecture.Services.AssemblyInfo.cs
/Architecture.Services/obj/Debug/net8.0/Architecture.Services.AssemblyInfoInputs.cache
/Architecture.Services/obj/Debug/net8.0/Architecture.Services.assets.cache
/Architecture.Services/obj/Debug/net8.0/Architecture.Services.csproj.CoreCompileInputs.cache
/Architecture.Services/obj/Debug/net8.0/Architecture.Services.csproj.FileListAbsolute.txt
/Architecture.Services/obj/Debug/net8.0/Architecture.Services.dll
/Architecture.Services/obj/Debug/net8.0/Architecture.Services.GeneratedMSBuildEditorConfig.editorconfig
/Architecture.Services/obj/Debug/net8.0/Architecture.Services.GlobalUsings.g.cs
/Architecture.Services/obj/Debug/net8.0/Architecture.Services.pdb
/Architecture.Services/obj/Debug/net8.0/Architecture.Services.sourcelink.json
/Architecture.Services/obj/Debug/net8.0/LockTheVote.Services.AssemblyInfo.cs
/Architecture.Services/obj/Debug/net8.0/LockTheVote.Services.AssemblyInfoInputs.cache
/Architecture.Services/obj/Debug/net8.0/LockTheVote.Services.assets.cache
/Architecture.Services/obj/Debug/net8.0/LockTheVote.Services.csproj.CoreCompileInputs.cache
/Architecture.Services/obj/Debug/net8.0/LockTheVote.Services.csproj.FileListAbsolute.txt
/Architecture.Services/obj/Debug/net8.0/LockTheVote.Services.dll
/Architecture.Services/obj/Debug/net8.0/LockTheVote.Services.GeneratedMSBuildEditorConfig.editorconfig
/Architecture.Services/obj/Debug/net8.0/LockTheVote.Services.GlobalUsings.g.cs
/Architecture.Services/obj/Debug/net8.0/LockTheVote.Services.pdb
/Architecture.Services/obj/Debug/net8.0/ref
/Architecture.Services/obj/Debug/net8.0/ref/Architecture.Services.dll
/Architecture.Services/obj/Debug/net8.0/ref/LockTheVote.Services.dll
/Architecture.Services/obj/Debug/net8.0/refint
/Architecture.Services/obj/Debug/net8.0/refint/Architecture.Services.dll
/Architecture.Services/obj/Debug/net8.0/refint/LockTheVote.Services.dll
/Architecture.Services/obj/LockTheVote.Services.csproj.nuget.dgspec.json
/Architecture.Services/obj/LockTheVote.Services.csproj.nuget.g.props
/Architecture.Services/obj/LockTheVote.Services.csproj.nuget.g.targets
/Architecture.Services/obj/project.assets.json
/Architecture.Services/obj/project.nuget.cache
/Architecture.Services/obj/Release/net8.0
/Architecture.Services/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Architecture.Services/obj/Release/net8.0/Architecture.Services.AssemblyInfo.cs
/Architecture.Services/obj/Release/net8.0/Architecture.Services.AssemblyInfoInputs.cache
/Architecture.Services/obj/Release/net8.0/Architecture.Services.assets.cache
/Architecture.Services/obj/Release/net8.0/Architecture.Services.GeneratedMSBuildEditorConfig.editorconfig
/Architecture.Services/obj/Release/net8.0/Architecture.Services.GlobalUsings.g.cs
